.root {
    -fx-background-color: #eeeeee;
}


.labels {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.input {
    -fx-background-color: white;
    -fx-font-size: 14;
}

.messageInput {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-font-size: 14;
}

.usernameInput {
    -fx-border-radius: 0;
}

.radio, .radio-button {
  -fx-mark-highlight-color: #4082b9 ;
  -fx-mark-color: #4082b9 ;
  -fx-background-insets: 0;

}

.radio {
    -fx-background-color: white;
}

.loginbutton {
    -fx-text-fill: white;

    -fx-background-color: rgb(66, 160, 207);
}

.sendbutton {
    -fx-text-fill: white;
    -fx-font-weight: bold;

    -fx-background-color: rgb(66, 160, 207);
    -fx-border-color: rgb(66, 160, 207);
}

.userlist {
    -fx-background-color: #eeeeee;
    -fx-background: #eeeeee;
}

.chatwindow {
    -fx-background-color: #eeeeee;
    -fx-font-size: 13;
}

.serverlist {
    -fx-background-color: #ffffff;
}
