<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{1} - %msg%n"/>
        </Console>

        <File name="File" fileName="app.log" append="false">
            <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{1} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!--<Logger name="strike" level="INFO"/>-->

        <Logger name="strike.StrikeServer" level="DEBUG"/>

        <!-- Debug Gossip -->

        <Logger name="strike.heartbeat" level="DEBUG"/>
        <Logger name="strike.handler.management.consensus" level="DEBUG"/>
        <Logger name="strike.handler.management.gossip" level="DEBUG"/>

        <!-- Debug Bully -->

        <Logger name="strike.handler.management.election" level="DEBUG"/>
        <Logger name="strike.service.election" level="DEBUG"/>

        <!-- others -->
        <!--<Logger name="org.quartz" level="INFO"/>-->

    </Loggers>

</Configuration>
